@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --first-color: hsl(166, 80%, 40%);
  --first-color-alt: hsl(166, 78%, 38%);
  --title-color: hsl(166, 95%, 15%);
  --text-color: hsl(166, 12%, 40%);
  --white-color: hsl(166, 100%, 99%);
  --dark-color: hsl(166, 95%, 12%);
  --body-color: hsl(166, 56%, 18%);
  --body-white-color: hsl(0, 0%, 100%);
  --body-first-color: hsl(166, 80%, 40%);
}